@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    /* ===== Colors ===== */
    --body-color: white;
    --sidebar-color: #FFDF3E;
    /* --primary-color: #695CFE; */
    --primary-color: white;
    --primary-color-light: #F6F5FF;
    /* --toggle-color: #DDD; */
    --toggle-color: #FFDF3E;
    /* --text-color: #707070; */
    --text-color: white;


    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

::-webkit-scrollbar{
    width: 0;
}

body{
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
}

::selection{
    background-color: var(--primary-color);
    color: #fff;
}

body.dark{
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #fff;
}

/* ===== Sidebar ===== */
 .sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;  
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.05);
}
.sidebar li{
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
}

.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.sidebar .text,
.sidebar .icon{
    color: var(--text-color);
    transition: var(--tran-03);
}

.sidebar .text{
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}
/* =========================== */

.sidebar header{
    position: relative;
}

.sidebar header .image-text{
    display: flex;
    align-items: center;
}
.sidebar header .logo-text{
    display: flex;
    flex-direction: column;
}
header .image-text .name {
    margin-top: 20px;
    margin-left: 10px;
    font-size: 22px;
    font-weight: 600;
}

.sidebar header .image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .image img{
    width: 50px;
    margin-top: 10px;
    border-radius: 50%;
}

.sidebar header .toggle{
    position: absolute;
    top: 70%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.095);
}

body.dark .sidebar header .toggle{
    color: var(--text-color);
}

.sidebar.close .toggle{
    transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu{
    margin-top: 40px;
}

.sidebar li a{
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}

.sidebar li a:hover{
    background-color: var(--primary-color);
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--sidebar-color);
}
body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text{
    color: var(--text-color);
}

.sidebar .menu-bar{
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}
.menu-bar::-webkit-scrollbar{
    display: none;
}
.sidebar .menu-bar .mode {
    border-radius: 6px;
    /* background-color: var(--primary-color-light); */
    background-color: white;
    position: relative;
    transition: var(--tran-05);
}

.sidebar .menu-bar .mode .text{
    color: #FFDF3E;
}

.menu-bar .mode .sun-moon{
    height: 50px;
    width: 60px;
}

.mode .sun-moon i{
    position: absolute;
    color: #FFDF3E;
}

.mode .sun-moon i.sun{
    opacity: 0;
}
body.dark .mode .sun-moon i.sun{
    opacity: 1;
    color: white;
    color: #18191a;
}
body.dark .mode .sun-moon i.moon{
    opacity: 0;
}

.menu-bar .bottom-content .toggle-switch{
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}
.toggle-switch .switch{
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    transition: var(--tran-05);
}

.switch::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    /* background-color: var(--sidebar-color); */
    background-color: white;
    transition: var(--tran-04);
}

body.dark .switch::before{
    left: 20px;
    background-color: white;
}

.dark .sidebar .menu-bar .mode .text{
    color: #18191a;
} 

.dark .sidebar .menu-bar .bottom-content .toggle-switch .switch{
    background-color: #18191a;
} 

.home{
    position: absolute;
    top: 0;
    top: 0;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    background-color: var(--body-color);
    transition: var(--tran-05);
}
.home .text{
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 12px 60px;
}

body.dark .home .text{
    color: var(--text-color);
}

.home .main{
    width: 85%;
    height: 82vh;
    position: absolute;
    top: 65px;
    left: 0px;
    border-radius: 8px;
    background-color: var(--sidebar-color);
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.05);
    margin-left: 100px;
}

.home .main .text{
    font-size: 40px;
    width: 100%;
    text-align: center;
    font-weight: 700;
    color: var(--text-color);
    padding: 10px;
}

.home .main .route{
    margin: 0;
    font-size: 25px;
    color: var(--primary-color);
    font-weight: 500;
    width: 100%;
    text-align: center;
}

.home .main .route select{
    background: transparent;
    color: white;
    border: none;
    font-size: 25px;
    font-weight: 500;
}

.home .main .route select:active{
    border: none;
}

.home .main .route select:focus{
    border: none;
}

.home .main .route option{
    background: var(--sidebar-color);
    border: none;
}

.home .main .info{
    width: 90%;
    height: 70%;
    background: var(--primary-color);
    border-radius: 10px;
    margin: 30px 55px 0px 55px;
    overflow: scroll;
}

.home .main .info table{
    width: 100%;
    color: var(--sidebar-color);
    font-size: 20px;
    text-align: center;
    padding: 10px;
}

.home .main .info th{
    font-size: 23px;
    position: sticky;
    top: 0;
    background: white;
}
