:root{
    /* ===== Colors ===== */
    --body-color: white;
    --sidebar-color: #FFDF3E;
    /* --primary-color: #695CFE; */
    --primary-color: white;
    --primary-color-light: #F6F5FF;
    /* --toggle-color: #DDD; */
    --toggle-color: #FFDF3E;
    /* --text-color: #707070; */
    --text-color: white;
    --table-text: #FFDF3E;


    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}
body.dark{
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #fff;
    --table-text: #fff;
}
